body {
    background-color: rgb(230, 159, 159);
  }
  div {
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;
  }
  h1 {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
  }
  p {
    font-size: 20px;
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
  }